@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#light {
  background-image:
    linear-gradient(to left, rgba(155, 255, 179, 1) 0%, rgba(0, 0, 0, 1) 100%),
    linear-gradient(to right, rgba(155, 255, 179, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-size: 50% 100%, 50% 100%;
  background-position: left, right;
  background-repeat: no-repeat;
}


#dark {
  background: rgb(20, 20, 142);
  background-image: linear-gradient(to left, rgba(20, 20, 142, 1) 0%, rgba(0, 0, 0, 1) 90%),
    linear-gradient(to right, rgba(20, 20, 142, 1) 0%, rgba(0, 0, 0, 1) 90%);
  background-size: 50% 100%, 50% 100%;
  background-position: left, right;
  background-repeat: no-repeat;
}




.first {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    color: red;
    font-size: 24px;
    z-index: 5;
  }

  .button_down {
    position: absolute;
    text-align: center;
    bottom: 50px;
    cursor: pointer;

    svg {
      font-size: 50px;
      color: white;
    }
  }

  .name {
    position: absolute;
    color: #99c69a;
    mix-blend-mode: difference;
    font-size: 350%;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 2vw;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .links {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: flex-start;
  }

  div {
    div {
      canvas {
        position: absolute !important;
        filter: blur(0.8px);
        width: 100% !important;
        height: 100% !important;
      
      }
    }
  }

  li {
    list-style: none;
  }

  .btnContainer {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 5;
  }

  .btn {
    margin: 15px;
    background: #3c3459;
    border-radius: 999px;
    padding: 5px;
    cursor: pointer;
  }

  .knob {
    position: relative;
    width: 55px;
    height: 20px;
    padding-bottom: 5px;
  }

  .top {
    background-color: #827d96;
    border-radius: 999px;
    width: 25px;
    height: 25px;
  }

  .hidden {
    visibility: hidden;
  }

}

.secondPage {
  pointer-events: none;
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  a{
    display: flex;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    width: fit-content;
    height: fit-content;

    .text_link{
      cursor: pointer;
      pointer-events: visible;
      color: white;
      width: 60%;
      mix-blend-mode: difference;
      font-size: 30px;
      font-family: 'Pathway Gothic One', sans-serif;
      letter-spacing: 1px;

      &:hover{
        color: greenyellow;
      }
    }
  }
  .prof {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      padding: 0;
      display: flex;

      li {
        pointer-events: visible;
        padding: 0 150px 0 150px;
        cursor: pointer;
        list-style: none;
      }
    }
  }

  // .prof_clicked {
  //   width: 100%;
  //   height: 100%;
  //   ul {
  //     li {
  //       pointer-events: visible;
  //       list-style: none;
  //     }
  //   }
  // }

  .button_up {
    cursor: pointer;

    svg {
      font-size: 50px;
      color: white;
    }
  }

  .resume {
    display: flex !important;
    transition: opacity 0.5s ease-in-out;

    .parent {
      display: grid;
      grid-template-columns: 200px 150px;
      grid-template-rows: 5fr repeat(2, 6fr) 2fr;
      grid-column-gap: 10px;
      grid-row-gap: 0px;
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      background-color: red;
      display: flex;

      img {
        border-radius: 50%;
        height: 80px;
        width: 85px;
      }

      .fullname {
        margin-left: 10px;
        margin-top: 30px;
        font-weight: bold;
      }
    }

    .div2 {
      grid-area: 1 / 2 / 2 / 3;
      background-color: palegoldenrod
    }

    .div3 {
      grid-area: 2 / 1 / 3 / 2;
      background-color: #3c3459;
    }

    .div4 {
      grid-area: 2 / 2 / 3 / 3;
      background-color: antiquewhite;
    }

    .div5 {
      grid-area: 3 / 1 / 4 / 2;
      background-color: aqua;
    }

    .div6 {
      grid-area: 3 / 2 / 4 / 3;
      background-color: aquamarine;
    }

    .div7 {
      grid-area: 4 / 1 / 5 / 2;
      background-color: greenyellow;
    }

    .div8 {
      grid-area: 4 / 2 / 5 / 3;
      background-color: magenta;
    }

    p,
    li {
      margin: 0;
      font-size: 8px;
    }

    ul {
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    width: 100%;
    height: 100%;

    .button_resume {
      pointer-events: visible;
      position: absolute;
      top: 50%;
      left: 70%;
      min-width: 300px;
      min-height: 60px;
      font-family: 'Nunito', sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      font-weight: 700;
      color: #313133;
      background: #4FD1C5;
      background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
      border: none;
      border-radius: 1000px;
      box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
      transition: all 0.3s ease-in-out 0s;
      cursor: pointer;
      outline: none;
      padding: 10px;

      &::before {
        content: '';
        border-radius: 1000px;
        min-width: calc(300px + 12px);
        min-height: calc(60px + 12px);
        border: 6px solid #00FFCB;
        box-shadow: 0 0 60px rgba(0, 255, 203, .64);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
      }

      &:hover,
      &:focus {
        color: #313133;
        transform: translateY(-6px);
      }

      &:hover::before,
      &:focus::before {
        opacity: 1;
      }

      &::after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 6px solid #00FFCB;
        position: absolute;
        z-index: 1;
        /* Change z-index to 1 */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }

      &:hover::after,
      &:focus::after {
        animation: none;
        display: none;
      }
    }

    @keyframes ring {
      0% {
        width: 30px;
        height: 30px;
        opacity: 1;
      }

      100% {
        width: 300px;
        height: 300px;
        opacity: 0;
      }
    }
  }

  .closing {
    opacity: 0;
  }

  .hidden {
    opacity: 0;
  }

  .close {
    pointer-events: visible;
    color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
    padding: 4rem;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid white;
      border-radius: 50%;
      width: 0;
      height: 0;
      opacity: 0;
      transition: all 1s ease-in-out;
    }

    &:hover::before {
      width: 100px;
      height: 100px;
      opacity: 0.4;
    }
  }
  
  .projects {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 100%;
    display: flex !important;
    transition: opacity 0.5s ease-in-out;
    width: 100%;

    p,
    li {
      margin: 0;
      font-size: 8px;
    }

    ul {
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
    grid-gap: 40px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
  }

  .grid-item {
    cursor: pointer;
    width: 100%;
    height: 400px;
  }
}
.main{
  position: relative; 
  .canvas{
    z-index: 0;
    position: absolute !important;

    canvas {
      position: absolute !important;
      top: 0%;
      filter: blur(0.8px);
      width: 100% !important;
      height: 100% !important;
    }
  }
}

// .main {
//   width: 100%; 
//   height: 100%; 
//   z-index: -1;
//   .canvas{
//     position: absolute !important;
//     canvas {
//       position: absolute !important;
//       filter: blur(0.8px);
//       width: 100% !important;
//       height: 100% !important;
    
//     }
//   }
// }